/frontend/node_modules/

/backend/node_modules/

/frontend/.gitignore
/backend/.gitignore

# local env files
/frontend/.env.local
/frontend/.env.*.local

/backend/.env.local
/backend/.env.*.local
/backend/.env
/backend/.DS_Store